<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN" "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd"
[
<!ENTITY eyedb "EyeDB">
<!ENTITY eyedbctl "<command>eyedbctl</command>">
]
>

<book>
  <title>EyeDB Administration Guide</title>

  <chapter id="server">
    <title>Server administration</title>

    <para>
      The first step in &eyedb; administration adresses the server administration: as all existing database management systems, &eyedb; adopts a client/server architecture to provide databases integrity and concurrent accesses. Every database operation requires that a server is up and running; this chapter explains how to start and stop the server, get its status and manage its configuration.
    </para>


    <section>
      <title>The &eyedbctl; command</title>

      <para>
	The &eyedb; server is started, stopped and examined using the &eyedbctl; command. This command is installed in <filename class="directory">/usr/sbin</filename> for standard &eyedb; installations.
      </para>

      <para>
	The &eyedbctl; command has the following syntax:
	<cmdsynopsis>
	  &eyedbctl;<arg choice="plain"><replaceable>command</replaceable></arg><arg choice="plain" rep="repeat">options</arg>
	</cmdsynopsis>
	where <cmdsynopsis><arg choice="plain"><replaceable>command</replaceable></arg></cmdsynopsis> is one of <command>start</command>, <command>stop</command> or <command>status</command>.
      </para>

      <para>
	The following options are the most usefull:
	<itemizedlist>
	  <listitem><para><cmdsynopsis><arg choice="plain">--listen=<arg choice="opt"><replaceable>hostname:</replaceable></arg><arg choice="plain"><replaceable>port</replaceable></arg></arg></cmdsynopsis>: specifies the host and port the server is listening on.</para></listitem>
	  <listitem><para><cmdsynopsis><arg choice="plain">--access-file=<replaceable>file</replaceable></arg></cmdsynopsis>: specifies the server access file for network configuration (see <xref linkend="server_network_access_configuration"/>)</para></listitem>
	  <listitem><para><cmdsynopsis><arg choice="plain">--server-conf=<replaceable>file</replaceable></arg></cmdsynopsis>: specifies the server configuration file (see <xref linkend="server_configuration_file"/>)</para></listitem>
	  <listitem><para><cmdsynopsis><arg choice="plain">--nod</arg></cmdsynopsis>: no daemon mode, do not close file descriptors 0, 1 and 2</para></listitem>
	</itemizedlist>
      </para>

    </section>


    <section>
      <title>Starting and stopping the server</title>

      <section>
	<title>Starting &eyedb; server</title>

	<para>
	  The &eyedb; server is started using the following command:
	  <cmdsynopsis>
	    &eyedbctl;<arg choice="plain">start</arg><arg choice="plain" rep="repeat"><replaceable>options</replaceable></arg>
	  </cmdsynopsis>	  
	</para>

	<example id="eyedbctl-start">
	  <title>&eyedbctl; start</title>
	  <screen><userinput>eyedbctl start</userinput>
Starting EyeDB Server
 Version      V2.8.8
 Compiled     Feb 14 2009 00:16:45
 Architecture i686-pc-linux-gnu
 Program Pid  10386
	  </screen>
	</example>

	<para>
	  By default, the &eyedb; server listens to incoming client connections on 2 ports:
	  <itemizedlist>
	    <listitem><para>a TCP/IP socket bound to port 6240</para></listitem>
	    <listitem><para>a Unix socket bound to file name <filename>/var/lib/eyedb/pipes/eyedbd</filename> for standard installation,  or <filename>PREFIX/var/lib/eyedb/pipes/eyedbd</filename> where <filename>PREFIX</filename> is the installation prefix that has been set during configuration</para></listitem>
	  </itemizedlist>
	</para>

	<para>
	  The listening ports can be set:
	  <itemizedlist>
	    <listitem><para>using &eyedbctl; command options</para></listitem>
	    <listitem><para>using server configuration file (see <xref linkend="server_configuratin_file"/>)</para></listitem>
	  </itemizedlist>
	</para>

	<para>
	</para>

      </section>

      <section>
	<title>Stopping &eyedb; server</title>

	<para>
	</para>

      </section>

    </section>

    <section>
      <title>Getting server information</title>

      <section>
	<title>Getting &eyedb; server status</title>

	<para>
	</para>

      </section>

      <section>
	<title>Configuring &eyedb; server logging</title>

	<para>
	</para>

      </section>

    </section>

    <section>
      <title>Server configuration</title>

      <section id="server_configuration_file">
	<title>Server configuration file</title>

	<para>
	</para>

      </section>

      <section>
	<title>Server configuration variables</title>

	<para>
	</para>

      </section>

      <section>
	<title>Environment variables</title>

	<para>
	</para>

      </section>

    </section>

    <section id="server_network_access_configuration">
      <title>Network access server configuration</title>

      <para>
      </para>

    </section>

  </chapter>

</book>
