body {
/*  background-color: #F8F8FF; */
}

/* header ------------------------------ */
#header {
  background: #20225E url('../images/eyedb-banner.png') top left no-repeat;
}

/* global ------------------------------ */
#container  {
/*  background-color: #FF0000; */
}

/* content ------------------------------ */
#content  {
    background-color: #FFFFFF;
}

/* sidecolumn ------------------------------ */
#sidecolumn {
}

/* sidebar ------------------------------ */
#sidebar li a {
  background-color: #EBF0FD;
}

#sidebar li a:hover {
    background: #E0E8F0 /*url(../images/menu-hover.png)*/;
}
#sidebar li a:link {
  color: #501010;
}
#sidebar li a:visited {
  color: #501010;
}
#sidebar li a:hover {
  color: #501010;
}
#sidebar li a:active {
  color: #501010;
}

li.widget h2 {
  background-color: #d5d6e7;
  color: #666666;
}

/* others ------------------------------ */
.code {
  background-color: #EEEEFF;
  border: 1px solid black;
}
.mailinglists tr {
  background-color: #EEEEEE;
}

/* footer ------------------------------ */
#footer {
  background: #20225E url('../images/eyedb-footer.png') bottom left repeat-x;
}
#cclicense img {
  border: 0 none;
}
#cclicense {
  color: white;
}
#cclicense a:link {
  color: white;
}
#cclicense a:visited {
  color: white;
}
#cclicense a:hover {
  color: white;
}
#cclicense a:active {
  color: white;
}
#meta {
  color: #ffffff;
}
#meta a:link {
}
#meta a:visited {
}
#meta a:hover {
}
#meta a:active {
}
