body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 10px 0;
  text-align: center;
}

/* container ------------------------------ */
#container {
  width: 766px;
  margin: 0 auto;
  text-align: left;
}

/* header ------------------------------ */
#header {
  height: 75px;
  margin: 0;
  padding: 0;
}

#header h1 {
  text-indent: -5000px;
  margin: 0;
  line-heigth: 0;
}

#header p {
  margin: 18px 0 0 105px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
  color: white;
}

/* sidecolumn ------------------------------ */
#sidecolumn {
  float: left;
  width: 150px;
  text-align: left;
/*  line-height:1.5em; */
  margin: 0;
  padding: 0;
}

/* sidebar ------------------------------ */
#sidebar {
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

#sidebar li {
  margin: 0;
  padding: 0;
}

#sidebar li a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  line-height: 18px;
  height: 18px;
}

#pages a {
  padding-left: 5px
}

#pages ul {
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.widget_links {
  margin: 0;
  padding: 0;
}
li.widget_links h2 {
  font-weight: bold;
  font-size: 110%;
  font-variant: small-caps;
  height: 19px;
  margin: 0;
  padding: 0 0 0 2px;
}
li.widget_links ul {
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li.widget_links a {
  padding-left: 5px
}

li.widget_downloads {
  margin: 0;
  padding: 0;
}
li.widget_downloads h2 {
  font-weight: bold;
  font-size: 110%;
  font-variant: small-caps;
  height: 19px;
  margin: 0;
  padding: 0 0 0 2px;
}
li.widget_downloads ul {
  border-top: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.widget_downloads a {
  padding-left: 5px
}

/* content ------------------------------ */
#content  {
  margin: 10px 0 0 150px;
  padding: 0px 5px 75px 5px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: black;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

#content h1 {
  font-size: 200%;
  border-bottom: 1px solid #aaaaaa;
  padding: 0 0 0.17em 0;
}

#content h2 {
  font-size: 188%;
  border-bottom: 1px solid #aaaaaa;
  padding: 0 0 0.17em 0;
}
#content h3 {
  font-size: 132%;
}

#content h4 {
  font-size: 116%;
}

#content h5 {
  font-size: 100%;
}

#content h6 {
  font-size: 80%;
}

#content a:link {
  text-decoration: none;
}
#content a:visited {
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content a:active {
  text-decoration: none;
}

/* paragraphs ------------------------------ */
p {
/*  margin: 0.6em 0 0 0; */
}

.code {
 margin: 0 5px 0 5px;
 padding: 5px;
}

.quicktournav {
  text-align: right;
}

.mailinglists a {
  padding-left: 10px;
}

/* footer ------------------------------ */
#footer {
  clear: both;
  height: 40px;
  margin: 0;
  padding:0;
  font-size: 0.8em;
}
#footer .sourceforge {
  display:inline;
  width:88px;
  height:31px;
  float:left;
  margin: 5px 7px 0 5px;
}
#footer .sourceforge img {
  border: 0 none;
}

#cclicense {
  float: left;
  text-align: left; 
  margin: 5px 0 0 5px;
}
#cclicense img {
  float: left; 
  margin-right: 5px; 
  border: 0 none;
}
#meta {
  margin: 5px 5px 0 0;
  float: right;
}
