body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 5px 5px 5px 5px ;
  padding: 0;
  text-align: center ;
}

p {
  margin: 0px 0px 0px 0px ;
}

ul {
/*   list-style: square inside url('arrow.gif'); */
  padding: 0cm 0.5cm;
 margin-left: 0.5cm;
}

li {
 padding: 0cm 0cm;
 border-style: solid;
 border-width: 0px;
}

table {
}

tr {
  margin: 0px 5px 0px 5px ;
  border: 1px 1px 1px 1px;
  border-color: #1020E0;
}

td {
  margin: 0px 5px 0px 5px ;
  border: 1px 1px 1px 1px;
  border-color: #1020E0;
}

.Hide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

#Container {
/*  width: 770px ; */
 margin: 0 auto ;
 text-align: left ;
}

#Header {
 width: 766px ;
 height: 75px;
}

#Header img {
 border: 0px solid ;
}

#TOC ul {
}

#TOC li {
  margin-bottom: 5px;
}

#TOC a {
  margin: 0 2px;
}

#Footer {
}

