body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 5px;
  padding: 0;
  text-align: left;
}

#Container {
 width: 776px ;
 margin: 0px;
 padding: 0px;
 text-align: left ;
 border: solid 0px;
}

#HeaderRow {
 width: 776px ;
 height: 75px;
 text-align: left ;
}

#CenterRow {
 width: 776px ;
 text-align: left ;
 vertical-align: top;
}

#HeaderCol img {
 border: solid 0px;
}

#NavCol {
 width: 150px;
 text-align: left;
 vertical-align: top;
}

#Nav {
  list-style-type: none;
  margin: 0;
  padding:0;
}

#Nav li {
  margin-bottom: 5px;
}

#Nav a {
  margin: 0 2px;
}

#CenterCol {
  text-align: left ;
  vertical-align: top;
}

#PageTitle {
  font-weight: bold;
  font-size: 1.2em;
}

h1 {
  font-weight: bold;
  font-size: 1.2em;
}

#NewsCol {
  width: 200px;
  text-align: left ;
  vertical-align: top;
}

#FooterRow {
 width: 776px ;
 text-align: left ;
}

