body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 5px;
  padding: 0;
  text-align: left;
}

#Container {
 width: 766px ;
 margin: 0px;
 padding: 0px;
 text-align: left ;
 border: solid 0px;
}

#HeaderRow {
 width: 766px ;
 height: 75px;
 text-align: left ;
 margin: 0px;
 padding: 0px;
}

#CenterRow {
 width: 766px ;
 text-align: left ;
 vertical-align: top;
 margin: 0px;
 padding: 0px;
}

#HeaderCol img {
 vertical-align: top;
 border: solid 0px;
}

#NavCol {
 width: 150px;
 text-align: left;
 vertical-align: top;
 margin: 0px;
 padding: 0px;
}

#Nav {
  border-top: solid 15px #97A2C2;
  background-color: #DCE4FC;
}

#Nav ul {
  margin: 0px;
  padding: 10px 0 10px 10px;
  list-style-type: none;
}

#Nav li {
  margin: 0;
  padding: 0.15em;
}

#Nav a {
  text-decoration: none;
}
#Nav a:link {
  color: #501010;
}
#Nav a:visited {
  color: #501010;
}
#Nav a:hover {
  color: #501010;
}
#Nav a:active {
  color: #501010;
}

#CenterCol {
  text-align: left ;
  vertical-align: top;
  border-left: 10px solid #ffffff;
}

#PageTitle {
  font-weight: bold;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #aaaaaa;
}
h1 { font-size: 188%;}
h2 { font-size: 150%;}
h2, h3, h4, h5, h6 {
    border-bottom: none;
}
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

#NewsCol {
  width: 200px;
  text-align: left ;
  vertical-align: top;
}

#FooterRow {
 width: 766px ;
 text-align: left ;
 vertical-align: top;
}

