body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 5px;
  padding: 0;
  text-align: left;
}

#Container {
 width: 766px ;
 margin: 0px;
 padding: 0px;
 text-align: left ;
 border: solid 0px;
}

#HeaderRow {
 width: 766px ;
 height: 75px;
 text-align: left ;
 margin: 0px;
 padding: 0px;
}

#HeaderCol img {
 vertical-align: top;
 border: solid 0px;
}

#CenterRow {
 width: 766px ;
 text-align: left ;
 vertical-align: top;
 margin: 0px;
 padding: 0px;
}

.Code {
  width: 540px;
  background-color: #FFEEEE;
}

.MailList tr {
  background-color: #EEEEEE;
}

.MailList a {
  padding-left: 10px;
}

#NavCol {
 min-height: 720px;
 width: 150px;
 text-align: left;
 vertical-align: top;
 margin: 0px;
 padding: 0px;
 background-color: #EBF0FD;
 /* border-top: solid 5px #97A2C2; */
 /* border-bottom: 5px solid #97A2C2; */
}

#NavCol ul {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  list-style-type: none;
}

#NavCol li {
  margin: 0;
  padding: 0.10em 5px 0.10em 5px;
  border-top: solid 1px #ced9f7;
}

#LastNav {
  margin: 0;
  padding: 0.10em 5px 0.10em 5px;
  border-top: solid 1px #ced9f7;
  border-bottom: solid 1px #ced9f7;
}

#NavCol a {
  text-decoration: none;
  padding-left: 2px;
}
#NavCol a:link {
  color: #501010;
}
#NavCol a:visited {
  color: #501010;
}
#NavCol a:hover {
  color: #501010;
}
#NavCol a:active {
  color: #501010;
}

#Download {
  border-top: solid 5px #97A2C2;
  margin: 0;
  padding: 0;
}

#Download p {
  margin-left: 10px;
  font-size: 90%;
}

#CenterCol {
  text-align: left ;
  vertical-align: top;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}

#NewsCol {
  width: 170px;
  text-align: left ;
  vertical-align: top;
  background-color: #EBF0FD;
  /* border-top: solid 5px #97A2C2; */
  /* border-bottom: 5px solid #97A2C2; */
}

#News {
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

#NewsCol p {
  margin-left: 10px;
  font-size: 90%;
}

.ColTitle {
  font-weight: bold;
  color: #888888;
}

.ColTitle a {
  text-decoration: none;
  color: #888888;
}

a.NewsLink {
  text-decoration: none;
}
a.NewsLink:link {
  color: #501010;
}
a.NewsLink:visited {
  color: #501010;
}
a.NewsLink:hover {
  color: #501010;
}
a.NewsLink:active {
  color: #501010;
}

#FooterRow {
 width: 766px ;
 height: 30px;
 background-image: url(images/eyedb-footer.png); 
 background-repeat: repeat-x;
 text-align: left ;
 vertical-align: top;
 text-align: left ;
 margin: 0px;
 padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #aaaaaa;
}
h1 { font-size: 188%;}
h2 { font-size: 150%;}
h2, h3, h4, h5, h6 {
    border-bottom: none;
}
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

#FooterLeft {
  font-size: 0.8em;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
  float: left ;
  color: #ffffff;
}

#FooterRight {
  font-size: 0.8em;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
  float: right;
  color: #ffffff;
}

#FooterRight a {
  text-decoration: none;
  color: #ffffff;
}
#FooterRight a:link {
}
#FooterRight a:visited {
}
#FooterRight a:hover {
}
#FooterRight a:active {
}
