body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 5px;
  padding: 0;
  text-align: center ;
}

.Hide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

#Container {
 width: 776px ;
 margin: 0 auto ;
 text-align: center ;
}

#HeaderBlock {
 width: 776px ;
 height: 75px;
 text-align: left ;
}

#NavBlock {
  float:left;
  margin-left: 5px;
  margin-top: 10px;
  width: 150px;
  text-align: left;
}

#NavBlock ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

#Nav li {
  margin-bottom: 5px;
}

#Nav a {
  margin: 0 2px;
}

#CenterBlock {
  margin-left: 150px;
  margin-right: 10px;
  text-align: left ;
  width: 626px;
}

#CenterText {
  margin: 0;
  text-align: left ;
}

#CenterBlock h1 {
  font-weight: bold;
  font-size: 1.2em;
}

#FooterBlock {
 width: 776px ;
 height: 75px;
 text-align: left ;
}

