body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 2px;
  padding: 0;
  text-align: center ;
}

.Hide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

#Container {
/*  width: 770px ; */
 margin: 0 auto ;
 text-align: left ;
}

#HeaderBlock {
 width: 770px ;
  height: 70px;
 background-color: #C0C0C0;
}

#HeaderLeft {
  float: left;
  position: relative;
  width: 200px;
  height: 70px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#HeaderLeft img { 
  border: 0px; 
}
#HeaderRight {
  float: right;
  position: relative;
  width: 170px;
  height: 70px;
  padding: 0px;
  margin: 0px 25px 0px ;
  font-size: 1.3em;
  font-weight: bold ;
  color: #FFFFFF;
  text-align: right;
}

#NavBlock {
  float:left;
  margin-left: 5px;
  margin-top: 10px;
  width: 150px;
}

#NavBlock ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.NavTitle {
  font-weight: bold;
}

#Nav li {
  margin-bottom: 5px;
}

#Nav a {
  margin: 0 2px;
}

#CenterBlock {
  margin-left: 150px;
  margin-right: 150px;
}

#CenterBlock h1 {
  font-weight: bold;
  font-size: 1.2em;
}

#FooterBlock {
}

